

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {

	color: #f4eef2;
	background-image: url('bk.webp');
	
	background-color: #12141f;
	font-family: poppins;
	scroll-behavior: smooth;
}
.pagelink {
	display: none;
}
a {
	/*cursor: url('pointer.PNG'), auto;*/
	color: #f4eef2;
	text-decoration: none;
}


header {
  
    background-color: #12141f;

	position: fixed;
    width: 100%;
    display: grid;
    justify-items: center;
    margin: auto;
    max-width: 1360px;
    z-index: 9999999;
    filter: drop-shadow(0px 0px 30px rgba(0,0,0, 0.1));
    
}

header .header {
	
	display: flex;
	width: 100%;
	margin: auto;
	justify-content: center;
	padding: 15px 0;
	border-bottom: 1px solid #2b2e41;
	align-items: center;
	max-width: 1360px;
	background-color: #12141f;
	background-image: url('line.webp');
	box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.3);
}


.logo {
	width: 45%;
	display: flex;
	justify-content: left;
}
.logo img {
	width: 80px;
}





header .header .text {
	display: flex;
	gap: 30px;
	align-items: center;
	width: 45%;
	justify-content: right;
	font-size: 0.9rem;
}

header .header .text a { 
	padding: 5px 15px; 
	transition: ease 0.3s; 
	border: 1px solid transparent;
}

header .header .text a:hover {
	background: #12141f;
	border-radius: 10px;
	transform: translateY(-3px);
	text-decoration: none;
	border: 1px solid #ee843c;
	color: #ee843c;
	filter: drop-shadow(0px  0px 10px rgba(255, 255, 255, 0.1));
	z-index: 2147483647;
}

header .header .text a:active {
	background: #12141f;
	border-radius: 10px;
	scale: 1.15;
	text-decoration: none;
}

.burger {
	display: none;
	/*cursor: url('pointer.PNG'), auto;*/
	
}

nav {
	position: fixed;
	z-index: 999999999;
	top: 80px;
	right: -200px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #12141f;
	width: fit-content;
	max-width: 1360px;
	display: grid;
	gap: 30px;
	border-radius: 20px;
	justify-content: right;
	filter: blur(10px);
	background-image: url('bk.webp');
	border: 1px solid #00000028;

}




.media {
	width: 100%;
	margin: auto;
	display: grid;
	justify-content: space-between;
	gap: 20px;
}



.media a {
	display: flex;
	
	align-items: center;
	gap: 30px;
	
}


nav .close {
	display: flex;
	align-items: center;
	
	gap: 10px;
	border: 1px #ed7e33 solid;
	border-radius: 10px;
	padding: 10px;
	width: fit-content;

	justify-content: space-between;
}

.navopen {
	animation: navopen 0.5s ease;
}

@keyframes navopen {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 1;
		right: 20px;;
	}
}

.navclose {
	animation: navclose 0.5s ease;
}

@keyframes navclose {
	0% {
		opacity: 1;
		right: 20px;
	}
	100% {
		opacity: 0;
		right: -200px;
	}
}

.hero {
	padding-top: 150px ;
	width: 90%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	
}

.hero .text {
	display: flex;
	width: 55%;
	flex-direction: column;
	gap: 20px;
}

.hero .text .textdiv {
	display: grid;
}


.hero .text .p1 {
	display: inline-block;
	position: relative;
	font-size: 3.6rem;
	font-weight: 500;
	line-height: 70px;
}

.text1 {
	animation: show-hide 2s  infinite;
	position: relative;
	width: 10%;
	text-align: center;
	margin: auto;
	
}

.text2 {
	opacity: 0;
	animation: hide-show 2s  infinite;
	position: relative;
	width: 10%;
	text-align: center;
	margin: auto;
	
}

@keyframes show-hide {
	0%, 50% {
		transform: translateY(0px);
		opacity: 1;
		
	}
	50.1%, 100% {
		transform: translateY(100px);
		opacity: 0;
		display:none;
	}
}


@keyframes hide-show {
	0%, 50% {
		opacity: 0;
		transform: translateY(100%);
		display:none;
	}
	50.1%, 100% {
		opacity: 1;
		transform: translateY(0);
		
	}
}


.hero .text .p2 {
	width: 80%;
	font-size: 1.0rem;
}

.hero .text a {
	
	width: 25%;
	text-align: center;
	border-radius: 10px;
	font-size: 1.3rem;
	font-weight: 500;
	padding: 10px 0;
	margin-top:15px ;
	background: #12141f;
	border: 1px solid #ee843c;
	color: #ee843c;
	filter: drop-shadow(0px  0px 10px rgba(255, 255, 255, 0.1));
	transition: ease 0.3s;
}

.hero .text a:hover {
	background: #ed7e33 ;
	border-radius: 10px;
	transform: translateY(-5px);
	text-decoration: none;
	border: 1px solid #ee843c;
	color: #fff;
	border: 1px solid #fff;
	filter: drop-shadow(0px  0px 10px rgba(255, 255, 255, 0.1));
}

.hero .text a:active {
	border-radius: 10px;
	scale: 1.15;
	text-decoration: none;
}

.hero .svg {
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: center;
	animation: sym 2s ease infinite;
	color: #ee843c;
	gap: 20px;
	position: relative;
}

.hero .svg .info {
	width: fit-content;
	text-align: center;
	background-color: #000;
	padding: 10px ;
	border-radius: 10px;
	z-index: 2147;
	position: absolute;
	bottom:0;
}

.hero .svg span {
	color: #fff;
}
.hero .svg img {
	width: 100%;
	filter: drop-shadow(0px 0px 40px rgba(238, 132, 60, 0.3));
	border-radius: 100%;
	
}

@keyframes sym {
	0% {
		transform: translateY(20px);
	}

	50% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(20px);
	}
}


.line {
	border-bottom: 3px solid #2b2e41;
	width: 100%;
	padding: 30px 0;
	margin: auto;
	background: transparent;
}


.blog {
	padding-top: 50px ;
	padding-bottom: 50px ;
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 40px;
}

.blogtext {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.p {
	font-size: 1rem;
	color: #fff;
}

h1 {
	font-size: 2rem;
	font-weight: 500;
	color: #ee843c;
}

.uline {
	padding: 3px;
	background-color: #ee843c;
	width: 18%;
	border-radius: 50px;
}

.iframe {
	display: flex;
	width: 100%;
	margin: auto;
	gap: 40px;

}

.iframe .video{
	width: 32%;
	margin-top:0px ;
	overflow: hidden;
	border-radius: 30px;
	border: #ee843c solid 2px;
	
	position: relative;
	background: rgba(238, 132, 60, 0.3);
	padding-bottom: 0px;

}

.iframe .twitter-tweet{
	border: none;
	margin: auto;
	max-width: 100%;

}

.nextline {
	border-bottom: 3px solid #2b2e41;
	width: 100%;
	padding: 30px 0;
	margin: auto;
	background: transparent;
}

.contact {
	padding-top: 50px ;
	padding-bottom: 50px ;
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 40px;

}

.contact input{
	width: 40%;
	height: vh;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	outline: none;
	font-size: 1.3rem;
	color: #212437;
}
.contact input::placeholder, .contact textarea::placeholder {
	font-family: poppins;
	color: #212437;
	font-size: 1.05rem;
	font-weight: 500;
}

textarea {
	height: 140px;
	padding: 20px 20px;
	border-radius: 10px;
	border: none;
	outline: none;
	width: 40%;
	font-size: 1.3rem;
	color: #212437;
}


.contact button {
	width: 40%;
	font-size: 1.3rem;
	background: #ee843c;
	border: none;
	padding: 13px 0;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	gap: 10px;
	align-items: center;
	color: #fff;
	/*cursor: url('pointer.PNG'), auto;*/
	transition: ease 0.3s;
}

.contact button:hover {
	background: rgba(238, 132, 60, 0.5);
}

.contact button:active {
	scale: 1.03;
}


